* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==common== */
a {
    text-decoration: none;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* ==header== */
.header {
    background-color: #fffcf4;
}
.header .body-header{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header.fixed {
    position: sticky;
    top: -28px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
    position: relative;
}

.nav a {
    font-size: 1.6rem;
    color: #171100;
    padding: 8px 21px;
}
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    left: 21px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
    position: absolute;
}

.btn {
    display: inline-block;
    padding: 0px 16px;
    text-align: center;
    color: #fff;
    background: #171100;
    min-width: 118px;
    line-height: 50px;
    border-radius: 24.5px;
}
.header .btn-Sign-Up {
    min-width: 144px;
}
.header .action {
    margin: 49px;
}
